.product-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.product-popup .wrapper {
    transform: translateX(-50%);
    margin-left: 50%;
    width: 100%;
    max-width: 670px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
}

.product-popup fa-icon {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.product-popup .content {
    background-color: #fff;
    border: 15px solid #ffffff;
    min-height: 100vh;
}