<section class="p-t-b-120">
	<div class="container">
		
		<div class="row">
			<div class="col-md-3">
			    <div class="nav flex-column nav-pills">
			      <a class="nav-link" routerLink="add" routerLinkActive="active">Add product</a>
			      <a class="nav-link" routerLink="remove" routerLinkActive="active">Edit & remove</a>
			      <a class="nav-link" routerLink="messages" routerLinkActive="active">Messages</a>
			      <a class="nav-link" routerLink="orders" routerLinkActive="active">Orders</a>
			    </div>
			</div>
			<div class="col-md-9 mt-5 mt-md-0">
				<div [@fadeInOut]="outlet.isActivated ? outlet.activatedRoute : ''" class="admin">
					<router-outlet #outlet="outlet"></router-outlet>
				</div>
			</div>
		</div>

	</div>
</section>
